.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    @media (max-width: 400px) {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
}

.blog-box .blog-image {
    position: relative;
    overflow: hidden;
}

.blog-box .blog-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.3);
    }
}

.blog-box .blog-btn1 {
    padding: 0.5rem 1.5rem;
    font-size: 1.4rem;
    border-radius: 0;
}

.blog-box .icons {
    margin: 3rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-box .icons i {
    color: var(--primary);
    font-size: 1.4rem;
}

.blog-box h3 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.blog-box p {
    color: var(--light-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2;
}